<% if user_signed_in? && @product.user == current_user %>
  <%= link_to 'New Model', new_product_brand_model_path(@product), class: 'btn btn-success' %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Model</th>
    <th scope="col">Product ID</th>
    <th scope="col">Released Date</th>
    <% if user_signed_in? && @product.user == current_user %>
      <th scope="col">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @brand_models.each do |brand_model| %>
    <tr>
      <td><%= brand_model.name %></td>
      <td><%= brand_model.product_id %></td>
      <td><%= brand_model.created_at %></td>
      <% if user_signed_in? && @product.user == current_user %>
        <td><%= link_to 'Edit', edit_product_brand_model_path(@product, brand_model), class: 'btn btn-warning btn-sm' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>