<div class="d-flex justify-content-center align-items-center min-vh-90p bg-light">
  <div class="card shadow-sm" style="width: 400px; border-radius: 10px;">
    <div class="card-body">
      <h2 class="card-title text-center text-primary mb-4">Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
        
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true, autocomplete: "off" %>
          <div class="invalid-feedback">
            Please provide a password.
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: "off" %>
          <div class="invalid-feedback">
            Please confirm your password.
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Sign Up", class: "btn btn-primary btn-block mt-3" %>
        </div>
      <% end %>

      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  </div>
</div>


