<div class="card">
  <div class="card-header">
    <h5 class="card-title">New Product</h5>
  </div>
  <div class="card-body">
    <%= form_with model: @product do |form| %>
      <div class="mb-3">
        <%= form.label :brand_name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control", rows: 1, required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :quantity, class: "form-label" %>
        <%= form.text_field :quantity, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.label :price, class: "form-label" %>
        <%= form.text_field :price, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
